<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.tgif_app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="23" />
    <!-- android:name="com.tgif.http.TGIFRequest" -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="TGIF APP"
        android:theme="@style/Theme.AppCompat" >
        <activity
            android:name=".MainActivity"
            android:label="@string/Home"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:name=".CookingOrder"
            android:label="@string/title_fragment_cooking_order" >
        </activity>
        <activity
            android:name=".OrderDetails"
            android:label="@string/title_fragment_order_details" >
        </activity>
        <activity
            android:name=".FoodMenuFragment"
            android:label="@string/title_fragment_food_menu" >
        </activity>
        <activity
            android:name=".SubFoodMenuFragment"
            android:label="@string/title_fragment_sub_food_menu" >
        </activity>
        <activity
            android:name=".Home"
            android:label="@string/title_fragment_home" >
        </activity>
        <activity
            android:name=".MyOrderFragment"
            android:label="@string/title_fragment_my_order" >
        </activity>
        <activity
            android:name=".PendingOrder"
            android:label="@string/title_fragment_pending_order" >
        </activity>
        <activity
            android:name=".ServedOrder"
            android:label="@string/title_fragment_served_order" >
        </activity>
        <activity
            android:name=".EditOrderActivity"
            android:label="@string/title_activity_edit_order"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <!-- <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>

                Theme.AppCompat.DayNight.NoActionBar
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>            
        </activity> -->
        <activity
            android:name=".WelcomeActivity"
            android:label="TGIF APP"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>

                <!-- Theme.AppCompat.DayNight.NoActionBar -->
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VerifyingActivity"
            android:label="@string/title_activity_verifying" > 
        </activity>
    </application>

</manifest>